{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<h3>Login Below</h3>
{% endblock %}
{% block content %}
<script>
        window.onload = function() {
            document.getElementById('id_username').setAttribute('placeholder', 'Enter your Username');
            document.getElementById('id_password').setAttribute('placeholder', 'Password');
        }
    </script>
    <div class="row text-center">
            <div class="col align-self-center">
                <img src="{% static '/svg/login_illust.svg' %}" alt="" style="height: 280px; width: 480px;">
            </div>
            </div>
    <form action="{% url 'accounts:login' %}" class="site-form d-flex flex-column align-items-center" method="post" >
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Login">
    </form>
{% endblock %}

{% block auth_button %}
<a class="btn btn-primary ml-auto" role="button" href="{% url 'accounts:signup' %}">Sign Up</a>
{% endblock %}